[submodule "internal/mcu_bridge_doxygen/doxygen_awesome_css"]
	path = internal/mcu_bridge_doxygen/doxygen_awesome_css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "cmake/toolchain/cmake_microchip"]
	path = cmake/toolchain/cmake_microchip
	url = https://github.com/code-mechanic/cmake-microchip.git
